<?xml version="1.0"?>
<config>
    <modules>
        <ErgonTech_SimpleProductAlert>
            <version>0.1.0</version>
        </ErgonTech_SimpleProductAlert>
    </modules>
    <global>
        <blocks>
            <simpleproductalert>
                <class>ErgonTech_SimpleProductAlert_Block</class>
            </simpleproductalert>
        </blocks>
        <helpers>
            <simpleproductalert>
                <class>ErgonTech_SimpleProductAlert_Helper</class>
            </simpleproductalert>
            <productalert>
                <rewrite>
                    <data>ErgonTech_SimpleProductAlert_Helper_Productalert_Data</data>
                </rewrite>
            </productalert>
        </helpers>
        <resources>
            <simpleproductalert_setup>
                <setup>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    <module>ErgonTech_SimpleProductAlert</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </simpleproductalert_setup>
        </resources>
        <models>
            <simpleproductalert>
                <class>ErgonTech_SimpleProductAlert_Model</class>
            </simpleproductalert>
            <productalert>
                <rewrite>
                    <observer>ErgonTech_SimpleProductAlert_Model_ProductAlert_Observer</observer>
                </rewrite>
            </productalert>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <ergontech_simpleproductalert>
                    <file>ergontech_simpleproductalert.xml</file>
                </ergontech_simpleproductalert>
            </updates>
        </layout>
    </frontend>
    <simpleproductalert>
        <subscribe>
            <class>ErgonTech_SimpleProductAlert_CanSubscribePredicate</class>
        </subscribe>
        <notify>
            <class>ErgonTech_SimpleProductAlert_CanNotifyPredicate</class>
        </notify>
    </simpleproductalert>
</config>
