<?xml version="1.0"?>
<config>
    <modules>
        <ErgonTech_SimpleProductAlert>
            <version>0.1.0</version>
        </ErgonTech_SimpleProductAlert>
    </modules>
    <global>
        <blocks>
            <simpleproductalert>
                <class>ErgonTech_SimpleProductAlert_Block</class>
            </simpleproductalert>
        </blocks>
        <helpers>
            <simpleproductalert>
                <class>ErgonTech_SimpleProductAlert_Helper</class>
            </simpleproductalert>
        </helpers>
        <models>
            <simpleproductalert>
                <class>ErgonTech_SimpleProductAlert_Model</class>
            </simpleproductalert>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <ergontech_simpleproductalert>
                    <file>ergontech_simpleproductalert.xml</file>
                </ergontech_simpleproductalert>
            </updates>
        </layout>
    </frontend>
    <simpleproductalert>
        <stock_predicate>
            <class>ErgonTech_SimpleProductAlert_StockPredicate</class>
            <function>check</function>
        </stock_predicate>
    </simpleproductalert>
</config>
